<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="8.423-Interfaces" value="C:\TFS\8.423-Interfaces"/>
    <!-- TODO:  Have a better loading of BranchRoot and BranchLeafPath like using actual ConfigSections
          For now we declare like so 
          <add key="BranchName" value="BranchRoot;BranchLeafPath"/>
    -->
    <add key="8.5" value="C:\TFS\8.5;Main"/>
    <add key="8.6\Dev\Integration" value="C:\TFS\8.6;\Dev\Integration"/>
    <add key="8.6-R2" value="C:\TFS\8.6-R2;Main"/>
    <add key="8.6-R2 HF" value="C:\TFS\8.6-R2;Dev\Hotfixes"/>
    <add key="8.6-R3" value="C:\TFS\8.6-R2;Main"/>
    <add key="8.7" value="C:\TFS\8.6;Main"/>

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
